# Python
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
*.log
